p{
color:red;
text-align:center;
font-family:algerian;
padding:10px;
background-color:lightgrey;
}
#one{
background-color:lightblue;
color:black;
padding:10px;
}
.two{
color:green;
background-color:lightgreen;
font-family:Georgia;
padding:10px;
}
h2.two{
color:cyan;
background-color:pink;

}
h3,h4{
color:violet;
background-color:grey;
}
